
#character {
    text-align: center;
}

.s1, .s2, .s3, .s4, .s5, .map, #current, #points {
    display: none;
}

button {
            float:right;
        }

#pri, #col {
    float: left;
}

#random {
    color:red;
}